.welcome, .technology, .about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.welcome, .technology, .about > h1{
   margin-top: 2rem;
}

.technology-outer{
    background-color: #2C3539;
    color: white;
}

.technology h1 {
    margin-top: 2rem;
}

.welcome, .about-inner {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    
    /* flex-basis: 50%; */    
}

.welcome > .content,
.about-inner > .content {

    /* border: 1px solid red; */
    /* width: 90%; */
    /* height: auto; */
    flex-basis: 60%;

    letter-spacing: .01rem;
    word-spacing: .25rem;
    line-height: 1.9rem;

}

.content  h1 {
    margin-bottom: 2.2rem;
    font-weight: 660;
    /* color: blue; */
}

.content p {
    font-size: 1.1rem;
    font-weight: 410;
    color: rgb(70, 70, 70);
}

.welcome >.img-container,
.about-inner >.img-container {
    /* height: 100px; */

    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-basis: 30%;

    margin-left: 20px;
    
}

.welcome >.img-container >.img,
.about-inner >.img-container >.img {
    /* height: 100px; */
    width: 20rem;
    
}

.about {

}

.about-inner {
    flex-direction: row-reverse;
    
}

.tech {
    letter-spacing: .1rem;
    font-size: 1.1rem;
    margin-top: 2rem;
    font-weight: 600;
}


.tech-card {
    padding: .3rem 1.1rem .3rem 1.1rem;
    border-radius: 10px;
    border: 3px solid #49d449;
    margin: 20px;

    cursor: pointer;
    box-shadow: rgb(23 255 148 / 82%) 0px 30px 60px -12px inset, rgb(14 229 40) 0px 18px 36px -18px inset;
    /* background-color: ; */
    transition: 200ms;
    /* width: 90%; */
}

.tech-card:hover{
    transform: scale(1.1);
    box-shadow: rgb(170 243 194 / 58%) 0px 54px 55px, rgb(78 215 111 / 53%) 0px -12px 30px, rgb(68 230 134 / 45%) 0px 4px 6px, rgb(83 240 168 / 35%) 0px 12px 13px, rgb(128 244 186 / 28%) 0px -3px 5px;
}
