label {
    font-weight: bold;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    color: red;
}

.compulsary {
    color: red;
}

#successIcon {
    height: 100vmin;
    width: 10vmin;
    background: red;
}

.imgHight {
    height: 40vmin !important;
}