

label {
    font-weight: bold;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    color: red;
}

.compulsary {
    color: red;
}

#successIcon {
    hight: 100vmin;
    width: 10vmin;
    background: red;

}

.userProfile {
    display: flex;
    justify-content: center;
    align-item: center;
    background: grey;
    width: 38px;
    height: 38px;
    border-radius: 60%;
    cursor: pointer;
    overflow: hidden;
}

.userImg{
    width: 50px;
    height: 50px;
}

.defaultUserIcon{
    margin-top: 10px;
}



